<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Guantanamo Website</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="author" content="Skyteam">
<meta name="description" content="this site give you all that you need" >
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .jumbotron {
      background-color: #092038;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
    </style>
    </head>
    
<html>
    
        <body>
            <div class="jumbotron text-center">
    <center>
    <img src="https://i.imgur.com/u0T3qDF.jpg" class="img-circle" style="height:15%;width: 15%;">
        </center>
  <h1 dir="rtl" lang="ar">مرحبا بكم في <span dir="rtl" lang="ar" style="color:#f4511e;">موقع غوانتانامو</span></h1> 
  <!--<h1 dir="rtl" lang="ar" style="color:#f4511e;"></h1> -->
    <br>
    <center>
  <form action="http://guanta.herokuapp.com/subscribe/" method="post">
    <div class="input-group" style="width:70%;">
      <input type="email" class="form-control" name="email" size="50" placeholder="Email Address" required >
      <div class="input-group-btn">
        <button dir="rtl" lang="ar" type="button" class="btn btn-danger" dir="rtl" lang="ar" stlye="padding-left:5px;padding-right:5px;">تسجيل</button>
      </div>
    </div>
  </form>
        </center>
</div>
            <br>
            <div class="container">
            
<h1 class="text-right" dir="rtl" lang="ar" style="color:#092038;text-decoration: underline;">كيف ترسل لنا المال
</h1>
            
            <div class="container-fluid" dir="rtl" lang="ar">
            
                {{content.content}}
            
            </div>
            </div>
    </body></html>